/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body & HTML styling */
html, body {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #a7a9be;
  background-color: #0f0e17;
}

/* Header and navigation */
header {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  background-color: #ff8906;
  color: #0f0e17;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  letter-spacing: 0.5px;
  z-index: 10;
}

nav a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
}

.site-title {
  font-weight: 700;
  float: left;
}

/* Main content */
main {
  width: 500px;
  margin: 100px auto 100px auto; /* Offset for fixed header */
  position: relative;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 10px;
}

/* Hero image */
.hero {
  width: 100%;
  height: auto;
}

/* Jump scare image */
.jump {
  position: sticky;
  top: 200px;
  text-align: right;
  margin: 10px 0;
}

.scare {
  width: auto;
  height: 150px;
}

/* Story content */
.story {
  margin-top: 20px;
}

p {
  text-align: justify;
  padding: 10px 0;
}

em {
  font-style: italic;
  color: #fffffe;
}

/* Links */
a {
  color: #ff8906;
  text-decoration: none;
}

a:hover {
  color: #f25f4c;
}
